body {
  margin: 0;
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Noto Serif TC", serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
